pandas
numpy
scipy
statsmodels
plotly
requests
psycopg2-binary
mysql-connector-python
boto3
openai
ib_insync
alpaca-py
robin_stocks
fredapi
flask
streamlit
fastapi
langchain
langchain-core
langchain_aws
langchain_community
slack_bolt
polars
torch
torchvision
sentence_transformers
